.rightContainer {
  @apply w-screen max-w-screen-4xl mx-auto border
  flex justify-start items-start flex-col gap-x-5
  lg:flex-row-reverse
}

.rightImgContainer {
  @apply w-screen overflow-hidden
  flex justify-center items-center
  border
  lg:rounded-tl-70
  xl:rounded-tl-100
  3xl:max-h-[calc(100vh_-_120px)]
  4xl:rounded-tl-130
}

.rightImg {
  @apply object-fill w-full;
}

.rightDetailsContainer {
  @apply w-screen px-6 mt-14
  /* space-y-8 */
  border border-red-600

  lg:px-14 lg:w-2/4 lg:text-left lg:space-y-0
  /* xl:mt-24 */
  /* lg:mt-12 */
  3xl:mt-16
  4xl:mt-28
}

.rightNumTitle {
  @apply flex justify-start items-end gap-x-5
  leading-0
  border border-violet-800
  /* lg:w-fit */
  /* mt-14  */
}

.rightNumber {
  @apply /* leading-none */
  leading-0
  font-applesd font-light text-carmine text-7xl
  4xl:text-8xl
}

.rightTitle {
  @apply pt-5 -mb-1 border
  leading-0
  tracking-tighter whitespace-nowrap
  font-applesd font-light text-jungle  text-3xl
  lg:text-white
  4xl:text-[40px] 4xl:mb-10

  /* leading-0  */
}

.rightDetails {
  @apply mt-8
  opacity-60
  text-jungle text-lg tracking-tighter

  lg:text-white
  lg:opacity-100


  /* leading-10 */
}