

.text_legend {
  @apply font-inter text-base tracking-tighter leading-8
  lg:font-extrabold lg:text-lg
}

.text_details {
  @apply opacity-60
  font-inter text-base tracking-tighter leading-8
  lg:opacity-100 lg:text-lg
}

.footer_container {
  @apply max-w-screen-4xl px-fluid pt-8 pb-4 space-y-8
  lg:pt-12 lg:pb-12
  lg:space-y-0
}

.footer_content {
  @apply w-full 
  /* border border-violet-600 */
  flex justify-between items-stretch flex-row gap-x-8
  lg:items-center lg:flex-col
  lg:gap-y-8
  xl:flex-row
  xl:gap-y-0 xl:gap-x-16

  /* grid grid-cols-4 gap-x-16 */
}

.left_div {
  @apply
  basis-3/4
  lg:basis-full
  xl:basis-0 xl:grow
  /* border border-red-600 */
  flex justify-start items-center flex-row gap-x-8 
  /* lg:justify-start */
  /* grid grid-rows-3 */
}


.brand_div {
  @apply hidden lg:block min-w-fit
  /* border border-red-600 */
}

.details_div {
  @apply gap-y-4
  /* basis-3/4 */
  /* border border-red-600  */
  flex justify-between items-start flex-col gap-x-8
  lg:gap-y-2 lg:justify-start
  /* grid grid-rows-3 */
}

.top {
  @apply w-full 
  flex justify-start items-start flex-col
  gap-x-8
  lg:gap-y-2
}

.top1 {
  @apply w-full 
  flex justify-start items-center flex-row flex-wrap 
  gap-x-8
}

.bottom {
  @apply w-full 
  /* border border-red-600 */
  flex justify-start items-start flex-col 
  lg:items-center lg:flex-row lg:flex-wrap lg:gap-x-8 lg:gap-y-2
}

.iconsMobile_div {
  @apply w-fit
  /* border border-red-600 */
  flex justify-between items-center flex-col gap-y-4
  lg:hidden
}

.right_div {
  @apply hidden
  /* basis-1/4 */
  /* border border-yellow-300 */
  justify-between  flex-col gap-y-4
  lg:flex lg:items-center
  xl:items-start

}

.iconsDesktop_div {
  @apply w-fit 
  justify-between gap-x-12 flex-row
  lg:flex lg:items-center
  
  /* border border-red-600 */
}

.copyright_mobile {
  @apply opacity-50 text-center
  font-applesd font-medium text-13 tracking-tight
  lg:hidden
}

.copyright_desktop {
  @apply hidden 
  /* border border-red-600 */
  opacity-50 text-center whitespace-nowrap
  font-applesd font-medium text-base text-jungle tracking-wide
  lg:block lg:opacity-100
  xl:text-left;
}