.heroSection {
  @apply w-screen
}

.heroContainer {
  @apply w-full
  flex justify-start items-center flex-col
  gap-y-28
  lg:gap-y-0
}

.heroTop {
  @apply
  w-screen max-w-screen-4xl mx-auto
  flex justify-center items-center flex-col
  gap-y-16 lg:gap-y-0
  lg:flex-row-reverse
  lg:px-14
  2xl:px-[150px]
  3xl:px-[250px]
  lg:gap-x-4
  lg:justify-between
  xl:justify-around
}

.heroImage {
  @apply min-h-[540px]
  w-full
  flex justify-start items-center
  xs:justify-center
  lg:items-end
  overflow-x-visible
}

.heroImageMobile {
  @apply block lg:hidden
  min-w-[445px]
  ml-6 xs:ml-3 sm:ml-0
}

.heroImageDesktop {
   @apply hidden lg:block
    min-w-fit
    min-h-[540px]
}


.heroTitleContainer {
  @apply w-full
  flex justify-center items-center flex-col
  lg:items-start
  xl:items-center

}

.heroTitle {
  @apply
  w-fit
  flex justify-center items-center flex-col gap-y-4
  lg:items-start
}

.heroTitle p {
  @apply
  font-applesd text-keflavik tracking-tighter
  lg:text-xl
}

.heroTitle h1 {
  @apply
   text-white
  font-bold
  text-5xl lg:text-7xl
  whitespace-nowrap
}

.heroDetailsContainer {
  @apply
  w-screen block
  py-4
  lg:py-6
  px-6 lg:px-14
  xl:px-20 3xl:px-64
  lg:bg-keflavik
}


.heroDetails {
  @apply
  w-full
  max-w-screen-4xl mx-auto
  text-center
  flex justify-center items-center flex-wrap flex-row
  gap-x-8 gap-y-3
  lg:gap-x-12
  xl:gap-x-16
  2xl:gap-x-36
  3xl:gap-x-48

  text-white lg:text-black
}

.heroDetails p {
  @apply space-x-4 tracking-tight text-lg
}

.heroDetails p span:first-child {
  @apply font-bold
}

.heroDetails p span:nth-child(2) {
  @apply opacity-60 lg:opacity-100
}