.main {
  @apply
  bg-black
  h-full w-full
  border-0 border-transparent
}

/* one */
.oneSection {
 @apply
 mt-40
 max-w-screen-4xl
 w-screen
 mx-auto
 px-6
 lg:px-14
 xl:px-36
 2xl:px-[280px]
 3xl:px-[400px]
 /* lg:mt-48 */
 /* bg-slate-500 */

 hidden
 lg:block
}

.oneContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-20
  lg:gap-y-0
}

.oneDetailsContainer {
  @apply
  font-applesd
  w-full
  flex justify-start items-start flex-col
}

.oneDetails {
  @apply
  w-full
  flex justify-start items-start flex-col
  lg:flex-row
  lg:gap-x-36
  3xl:gap-x-44
}

.oneDetails h3 {
  @apply
  text-2xl font-bold
  text-white
  hidden lg:block
  whitespace-nowrap
}

.oneDetails div {
  @apply
  text-left
  text-white opacity-60
  text-lg
  leading-loose
  lg:leading-normal
  lg:opacity-100
  flex justify-start items-start flex-col
  gap-y-8
  md:gap-y-6
  lg:gap-y-4
}


/* two */
.twoSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]

  /* hidden
  lg:block */
}

.twoContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-8
}

.twoTitle {
  @apply text-white
  hidden
  lg:block
}

.twoTitle h3 {
  @apply font-applesd font-bold
  text-[32px]
}

.twoBottom {
  @apply w-full
  flex justify-between items-start
  flex-col
  lg:flex-row-reverse

  gap-x-4
  3xl:gap-x-8
}

.twoImage {
  @apply
  w-full
  min-h-[470px]
  /* 3xl:min-w-fit */
  flex
  justify-center
  items-center
  lg:justify-end
  overflow-visible
  lg:min-h-[560px]
  lg:max-h-[560px]
  2xl:min-h-[660px]
  2xl:max-h-[660px]
  3xl:min-h-[750px]
  3xl:max-h-[750px]
  /* 3xl:grow */
  /* border */
}

.twoImage img {
  @apply
  min-h-[470px]
  max-h-[470px]
  lg:min-h-[560px]
  lg:max-h-[560px]
  2xl:min-h-[660px]
  2xl:max-h-[660px]
  3xl:min-h-[750px]
  3xl:max-h-[750px]
  w-fit
  object-cover
  overflow-visible

  mr-16
  lg:mr-0

  /* border */
}


.twoDetailsContainer {
  @apply 3xl:min-w-fit
  mt-14
  lg:mt-28
}

.twoDetails1 {
  @apply text-white opacity-60
  font-applesd
  space-y-8

  lg:hidden
}

.twoDetails2 {
  @apply
  text-white font-applesd
  hidden
  lg:flex justify-start flex-col
  gap-y-8
  /* border */
  whitespace-nowrap
}

.twoDetails2 h4 {
  @apply text-[28px] font-medium
}

.twoDetails2 div {
  @apply text-xl leading-loose
}






/* three */
.threeSection {
 @apply
  mt-40
  lg:mt-72
  text-white
  max-w-screen-4xl
  w-screen
  mx-auto
  px-0 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
  lg:hidden
}

.threeContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-14
}

.threeImage1 {
  background-position: center bottom;
  @apply
  bg-imgRugolf
  bg-no-repeat
  flex justify-center items-end
  w-full
  h-[640px]
  pb-40
}

.threeImage img {
  @apply
  h-full w-fit
  object-contain
}

.threeDetails {
  @apply
  px-6
  w-full font-applesd
  leading-normal opacity-60
  text-lg
  /* mt-14 */
}

.threeDetails p {
  @apply inline-block
  lg:block
}

.threeDetails p br {
  @apply
  hidden
  lg:block
}

.threeImage2 {
  @apply
  flex justify-end items-end
  w-full
  /* border */
}

.threeImage2 img {
  @apply
  w-fit
  min-h-[260px]
  max-h-[260px]
  object-cover
  overflow-x-visible
  pl-[60%]
  sm:pl-[40%]
  md:pl-[20%]
}


/* four */
.fourSection {
 @apply text-white
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]

  mt-40
  lg:mt-72
}

.fourContainer {
  @apply w-full
  flex justify-start items-center flex-col
  lg:justify-end lg:items-end lg:flex-row
}

.fourImage {
  @apply
  h-[460px]
  w-full
  flex justify-center items-center
  lg:justify-end
  lg:w-fit
  lg:min-w-fit
  lg:h-[640px]
}

.fourImage img {
  @apply h-full min-w-fit w-fit
}

.fourDetails {
  @apply w-full
  font-applesd leading-10
  text-lg lg:text-xl
  opacity-60 lg:opacity-100
  mt-12 lg:mt-0 lg:mb-48
  flex justify-start
  lg:justify-end
  lg:leading-loose
  lg:grow
}

.fourDetails p {
  @apply text-left
  w-fit
  lg:whitespace-nowrap
}

.fourDetails p br {
  @apply hidden lg:block
}




/* five */
.fiveSection {
 @apply
  hidden lg:block
 text-white
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
  mt-40
  lg:mt-72
}

.fiveContainer {
  @apply
  w-full
  flex justify-between items-center flex-row
  gap-x-16
}

.fiveImage {
  @apply
  flex justify-end items-end
  min-h-[460px]
  max-h-[460px]
  lg:max-h-[580px]
  lg:min-h-[580px]

  2xl:max-h-[680px]
  2xl:min-h-[680px]

  3xl:max-h-[740px]
  3xl:min-h-[740px]
  /* border */
}


.fiveImage img {
  @apply
  w-auto
  /* min-w-fit */
  /* max-w-[auto] */
  min-h-[460px]
  max-h-[460px]
  lg:max-h-[580px]
  lg:min-h-[580px]

  2xl:max-h-[680px]
  2xl:min-h-[680px]

  3xl:max-h-[740px]
  3xl:min-h-[740px]
  object-cover
  /* border border-red-500 */
  lg:overflow-visible
}

.fiveDetails {
  @apply
  w-full
  px-6 lg:px-0
  text-lg lg:text-xl leading-10
  lg:w-fit lg:whitespace-nowrap
  lg:mb-20
  flex justify-start items-start flex-col
  gap-y-8
}


.fiveDetails p {
  @apply
  opacity-100
  leading-10
}


/* six */
.sixSection {
 @apply
  text-white
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
  mt-40
  lg:mt-72
  /* mb-20 */
}


.sixContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-8
}

.sixTitle {
  @apply text-white
}

.sixTitle h3 {
  @apply font-applesd font-bold
  text-[32px]
}

.sixBottom {
  @apply
  w-full
  flex
  justify-start
  flex-col
  items-start
  lg:justify-between
  lg:flex-row
  lg:items-end
  lg:gap-x-4

  /* lg:h-[620px]
  2xl:h-[830px] */

  /* border */
}

.sixImage {
  @apply
  w-full
  lg:grow
  relative
  h-[440px]
  lg:h-[620px]
  2xl:h-[830px]

  flex justify-center items-center
  lg:justify-start
  px-0

  /* border */
}

.sixImage img {
  @apply
  h-[440px]
  lg:h-[620px]
  2xl:h-[830px]
  w-auto
  object-contain
  /* border */
}

.sixDetails {
  @apply
  flex justify-start items-start
  flex-col
  text-left
  gap-y-6
  mt-8
  lg:mt-0
  lg:mb-56
  lg:w-fit
  lg:justify-end

  /* border border-red-600 */
}

.sixDetails h4 {
  @apply
  text-[28px] font-medium
}


.sixDetails p {
  @apply
  font-applesd
  text-lg
  lg:text-xl
  opacity-60
  lg:opacity-100
  lg:whitespace-nowrap
  leading-10
}

.sixDetails p span {
  @apply leading-10
}

.sixDetails p br {
  @apply hidden lg:block
}



/* seven */
.sevenSection {
  @apply
  text-white
  max-w-screen-4xl
  w-screen
  mx-auto
  px-0 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
  mt-40
  lg:mt-72
}

.sevenContainer {
  @apply
  relative
}


.sevenImage {
  @apply
  h-[340px]
  lg:h-[440px]
  xl:h-[540px]
  2xl:h-[640px]
  3xl:h-[740px]
  w-full
  flex justify-center items-start
  sm:justify-center
}

.sevenImgMobile {
  @apply
  lg:hidden
  h-[340px]
  w-full
  flex justify-start items-start
  sm:justify-center
}

.sevenImgMobile img {
  @apply
  h-[340px]
  min-w-fit
  w-fit

  object-cover
  block lg:hidden
}

.sevenImgDesktop {
  @apply
  hidden lg:flex
  items-start
  justify-center
  lg:h-[440px]
  xl:h-[540px]
  2xl:h-[640px]
  3xl:h-[740px]
  min-w-fit
  w-fit
  object-cover
  overflow-x-visible
}

.sevenImgDesktop img {
  @apply
  overflow-x-visible
  lg:h-[440px]
  xl:h-[540px]
  2xl:h-[640px]
  3xl:h-[740px]
  min-w-fit
  w-fit
  object-cover
}


.sevenDetails {
  @apply
  flex justify-start items-start
  flex-col
  text-left
  gap-y-6
  mt-8
  px-6 lg:px-0
  4xl:absolute
  4xl:bottom-[300px]
  4xl:left-[23%]
  /* border */
}

/* xl */
@media only screen and (min-width: 1280px) and (max-width: 1330px) {
	.sevenDetails {
    @apply
    absolute
    left-[12%]
    bottom-[160px]
  }
}

@media only screen and (min-width: 1331px) and (max-width: 1380px) {
	.sevenDetails {
    @apply
    absolute
    left-[13%]
    bottom-[160px]
  }
}

@media only screen and (min-width: 1381px) and (max-width: 1430px) {
	.sevenDetails {
    @apply
    absolute
    left-[14.5%]
    bottom-[160px]
  }
}

@media only screen and (min-width: 1431px) and (max-width: 1480px) {
	.sevenDetails {
    @apply
    absolute
    left-[16%]
    bottom-[160px]
  }
}

@media only screen and (min-width: 1481px) and (max-width: 1535px) {
	.sevenDetails {
    @apply
    absolute
    left-[19%]
    bottom-[160px]
  }
}

/* 2xl */
@media only screen and (min-width: 1536px) and (max-width: 1720px) {
	.sevenDetails {
    @apply
    absolute
    left-[9%]
    bottom-[200px]
  }
}

@media only screen and (min-width: 1721px) and (max-width: 1919px) {
	.sevenDetails {
    @apply
    absolute
    left-[15%]
    bottom-[200px]
  }
}

/* 3xl */
@media only screen and (min-width: 1920px) and (max-width: 2100px) {
	.sevenDetails {
    @apply
    absolute
    left-[10%]
    bottom-[300px]
  }
}

@media only screen and (min-width: 2101px) and (max-width: 2300px) {
	.sevenDetails {
    @apply
    absolute
    left-[15%]
    bottom-[300px]
  }
}

@media only screen and (min-width: 2301px) and (max-width: 2559px) {
	.sevenDetails {
    @apply
    absolute
    left-[20%]
    bottom-[300px]
  }
}

.sevenDetails h4 {
  @apply
  text-[28px] font-medium
}


.sevenDetails p {
  @apply
  font-applesd
  text-lg
  lg:text-xl
  opacity-60
  lg:opacity-100
  lg:whitespace-nowrap
  leading-10
}


.sevenDetails p br {
  @apply hidden
  lg:block
}


/* eight */
.eightSection {
 @apply text-white
  max-w-screen-4xl
  w-screen
  mx-auto
  px-0 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]

  mt-40
  lg:mt-72
}

.eightContainer {
  @apply w-full
  flex justify-start items-start flex-col
  /* lg:justify-between */
   lg:flex-row
  gap-x-12
}

.eightImage {
  @apply

  w-full
  flex justify-end items-center
  sm:justify-center
  lg:justify-start
  lg:w-fit
  h-[460px]
  lg:h-[620px]
  3xl:h-[700px]

  /* border */
}

.eightImage img {
  @apply
  h-[460px]
  lg:h-[620px]
  3xl:h-[700px]
  w-fit
  object-cover
  overflow-x-visible
}

.eightDetails {
  @apply w-full
  font-applesd leading-10
  text-lg lg:text-xl
  opacity-60 lg:opacity-100
  mt-12
  lg:mt-32
  xl:mt-24
  /* 3xl:mt-32 */

  flex justify-start
  lg:leading-loose
  lg:w-fit
  px-6 lg:px-0
}

.eightDetails p {
  @apply text-left
  /* w-fit */
  lg:whitespace-nowrap
}

.eightDetails p br {
  @apply hidden lg:block
}
