.contactForm {
  @apply
  px-6 lg:px-0
  w-full
  h-[470px]
  bg-white

  lg:h-auto
  lg:bg-transparent
  lg:mt-[150px]
  lg:flex lg:justify-end lg:items-start
  lg:pb-[450px]
  3xl:pb-[550px]
  4xl:pb-[650px]

  /* border border-red-500 */
}

.form {
  @apply w-full
  pt-10
  space-y-4
  lg:space-y-0
  lg:flex lg:justify-end
  lg:items-center lg:flex-row
  lg:gap-x-4
  2xl:gap-x-8
  lg:pt-0
}

.inputText {
  @apply
  h-16 w-full
  border-2 border-jungle-200 rounded-2xl
  px-4
  text-lg
  font-inter
  text-center
  focus:outline-none
  focus:outline-transparent
  focus:ring-0 focus:ring-transparent
  focus:border-2 focus:border-jungle
  text-jungle

  lg:bg-transparent
  /* lg:w-auto */
  3xl:w-[400px]
}

.inputText::placeholder {
  @apply text-jungle-300
}

.formCheck {
  @apply
  w-full h-16
  flex justify-center items-center flex-row

  lg:w-auto
}

.formCheck label {
  @apply
  w-full
  flex justify-center items-center flex-row
  gap-x-3
  cursor-pointer
  select-none
  whitespace-nowrap
}

.formCheck label span {
  @apply
  font-extrabold
  font-applesd
}

.checkBox {
  @apply
  h-8 w-8 rounded-xl
  border-0 border-transparent
  cursor-pointer
  bg-jungle-100
  shadow-none
  focus:outline-0
  focus:outline-transparent
  focus:ring-0 focus:ring-transparent
  checked:ring-0 checked:ring-transparent
}

.formButton {
  @apply mt-8
  w-full
  lg:w-auto
}

.formButton button {
  @apply w-full bg-jungle py-5 text-center
  border-2 border-jungle
  font-inter text-lg  text-jungle-100
  font-bold
  rounded-2xl
  hover:bg-transparent hover:text-jungle
  hover:border-jungle
  whitespace-nowrap

  lg:w-auto
  lg:px-8
  2xl:px-16
  lg:py-4
}

.mgsFormMobile {
  @apply
  h-[352px]
  lg:h-0
  justify-center items-center flex-col
  lg:hidden
}

.mgsErrorMobile, .mgsSuccessMobile {
  @apply
  w-full grow
  /* flex */
  justify-center items-center flex-col
  gap-y-10
}

.mgsErrorMobile h5, .mgsSuccessMobile h5 {
  @apply
  font-extrabold font-applesd text-lg
   text-jungle opacity-60
   leading-8
   whitespace-nowrap
}

.iconCheckMobile {
  @apply
  h-16 w-16
  rounded-full
  bg-blue-500
  flex justify-center items-center
}

.iconCheckMobile svg {
  @apply text-white
  h-10 w-10
}

.iconXmarkMobile {
  @apply
  h-16 w-16
  rounded-full
  bg-carmine
  flex justify-center items-center
}

.iconXmarkMobile svg {
  @apply
  text-white
  h-10 w-10
}

.mgsButtonMobile {
  @apply mt-8
  w-full
  lg:w-auto
}

.mgsButtonMobile button {
  @apply w-full bg-jungle py-5 text-center
  border-2 border-jungle
  font-inter text-lg  text-jungle-100
  font-bold
  rounded-2xl
  hover:bg-transparent hover:text-jungle
  hover:border-jungle
  whitespace-nowrap

  lg:w-auto
  lg:px-8
  2xl:px-16
  lg:py-4
}


/* modal */
.mgsDialogOverlay {
  /* backdrop-filter: blur(12px); */
  @apply
  blur-none
  /* hidden */
  /* lg:block */
  h-screen w-screen
  fixed
  top-0
  left-0
  lg:min-h-[140px]
  z-30
  backdrop-blur-md
  /* bg-white/[0.8] */

  /* border border-transparent */
  /* bg-black */

  /* border border-red-500 */
}

.mgsDialogContent {
  @apply
  h-full w-full
  lg:flex justify-center items-center
}

.mgsErrorDesktop, .mgsSuccessDesktop {
  @apply relative
  rounded-2xl
  px-8 py-6
  /* flex */
  justify-start items-center flex-row
  gap-x-4
  /* gap-y-10 */
  bg-jungle
  min-w-[500px]
}

.mgsErrorDesktop h5, .mgsSuccessDesktop h5 {
  @apply font-applesd
 text-white text-xl font-medium
}

.iconCheckDesktop {
  @apply
  h-8 w-8
  rounded-full
  bg-blue-500
  flex justify-center items-center
}

.iconCheckDesktop svg {
  @apply text-white
  h-5 w-5
}

.iconExclaDesktop {
  @apply
  h-8 w-8
  rounded-full
  bg-yellow-400
  flex justify-center items-center
}

.iconExclaDesktop svg {
  @apply
  text-jungle
  h-5 w-5
}

.iconXmarkDesktop {
  @apply
  h-11 w-11
  rounded-full
  bg-carmine
  flex justify-center items-center
}

.iconXmarkDesktop svg {
  @apply
  text-white
  h-7 w-7
}

.mgsButtonDesktop {
  @apply absolute
  -top-4 -right-4

}
