.main {
  @apply bg-white lg:bg-black
}

.content {
  @apply max-w-screen-4xl mx-auto w-full
  px-6 lg:px-14
}

.cardContainer {
  @apply w-full grid
  grid-cols-1
  md:grid-cols-2
  xl:grid-cols-3
  3xl:grid-cols-4
  gap-y-10
  md:gap-x-10

  border border-red-600
}