.main {
  @apply
  text-white
  bg-black
  h-full w-full
}


.sec03_sec04 {
  @apply
  w-full
  flex
  justify-start
  items-start
  flex-col-reverse
  lg:flex-col
  /* border */
}

/* card */
.cardSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.cardContainer {
  @apply w-full
  flex justify-center
  items-center
  flex-col
  gap-y-16
  /* border */
}

.cardDetails {
  @apply
  w-full
  hidden
  lg:block
}

.cardDetails p {
  @apply
  w-full
  text-center
  text-xl
  leading-loose
  opacity-100
}

.cardImageContainer {
  @apply
  w-full
  grid

  gap-y-8
  md:gap-x-8

  lg:gap-y-6
  xl:gap-y-12
  2xl:gap-8
  3xl:gap-4

  grid-cols-1
  md:grid-cols-2
  lg:grid-cols-none
  lg:grid-flow-col
  lg:grid-rows-4
  2xl:grid-rows-3
}

.cardImage {
  @apply
  w-full

  flex justify-center items-center
  h-[390px]
  lg:h-[260px]

  /* border */
}

.cardImage img {
  @apply
  w-auto
  rounded-lg
  h-[390px]
  lg:h-[260px]
  lg:drop-shadow-[0_5px_8px_rgba(255,255,255,0.25)]
  object-cover
}

/* one */
.oneSection {
  @apply
  mt-40
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]

  hidden
  lg:block
}

.oneContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-14
  lg:gap-y-24
}

.oneDetails {
  @apply
  w-full
  flex justify-start items-start flex-col
  lg:flex-row
  lg:gap-x-36
  3xl:gap-x-44
}

.oneDetails h3 {
  @apply
  text-2xl font-bold
  text-white
  hidden lg:block
  whitespace-nowrap
}

.oneDetails div {
  @apply
  text-left
  text-white opacity-60
  text-lg
  leading-loose
  lg:leading-normal
  lg:opacity-100
  flex justify-start items-start flex-col
  gap-y-8
  md:gap-y-6
  lg:gap-y-4
}

/* two */
.twoSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.twoContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-16
}

.twoTitle {
  @apply
  block
}

.twoTitle h3 {
  @apply font-applesd font-bold
  text-[30px]
  lg:text-[32px]
}

.twoBottom {
  @apply w-full
  flex justify-between items-start
  lg:items-end
  flex-col
  gap-y-8 lg:gap-y-0
  lg:flex-row-reverse

  lg:gap-x-16
  3xl:gap-x-8
  /* border */
}

.twoImage {
  @apply
  w-full
  h-[410px]
  lg:h-[510px]
  flex
  justify-start
  sm:justify-center
  lg:justify-end
  items-center
}

.twoImage img {
  @apply
  h-[410px]
  lg:h-[510px]
  min-w-fit
  w-fit
  overflow-x-visible
}

.twoDetails {
  @apply
  font-applesd
  flex justify-start flex-col
  gap-y-16
  3xl:mb-16
}

.twoDetails div {
  @apply
  flex justify-start flex-col
  gap-y-8
}

.twoDetails h4 {
  @apply
  text-[25px]
  lg:text-[28px] font-medium
  hidden lg:block
}

.twoDetails p {
  @apply
  opacity-60
  text-lg
  leading-10
  lg:text-xl
  lg:leading-loose
  lg:opacity-100
  lg:whitespace-nowrap
}

.twoDetails p:first-child, .twoDetails p:nth-child(2) {
  @apply
  lg:hidden
}

.twoDetails p br {
  @apply hidden
  lg:block
}


/* three */
.threeSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-0 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.threeContainer {
  @apply w-full
  flex justify-start items-start flex-col
  lg:justify-between
  lg:items-center
  gap-y-16
  lg:gap-y-0
  lg:gap-x-16
}

.threeImageContainer {
  @apply
  border border-lime-500
  w-full
  flex justify-start items-start flex-col
  gap-y-16
  lg:gap-y-0
}

.threeTop {
  @apply
  lg:relative
  w-full
  flex
  items-end
  flex-row
  flex-wrap
  lg:flex-nowrap
  justify-center
  lg:items-start
  lg:justify-between
  ml-2
  sm:ml-0
  border-0
  gap-y-4
  xl:gap-x-4
  3xl:gap-x-16
}

/* images */
.threeTop1 {
  @apply
  flex
  justify-start items-end flex-row
  lg:flex-row-reverse
  lg:items-start
}

/* images */
.threeTop3 {
  @apply
  flex
  justify-start items-end flex-row
  lg:items-start
}


/* text */
.threeTop2{
  @apply
  hidden
  lg:block
  whitespace-nowrap
  font-applesd
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100

  lg:-ml-8
  lg:mt-6
  xl:ml-0
  xl:mt-20
}

.threeA {
  @apply
  flex justify-end items-center flex-col
  min-w-fit
  lg:gap-y-10
  lg:mt-[165px]
  lg:-ml-[80px]
  2xl:-ml-[40px]
}

.threeA img:first-of-type {
  @apply
  z-30
  h-[180px]
  lg:h-[315px]
  w-fit
  min-w-fit
}

.threeA img:nth-of-type(2) {
  @apply
  z-10
  -mt-[5px]
  h-[11px]
  w-fit
  min-w-fit
  lg:mt-0
  lg:h-[17px]
}

.threeB {
  @apply
  flex justify-end items-center flex-col
  min-w-fit
  -ml-[25px]
  lg:ml-0
  lg:gap-y-10
}

.threeB img:first-of-type {
  @apply
  z-20
  h-[160px]
  lg:h-[293px]
  w-fit
  min-w-fit
}

.threeB img:nth-of-type(2) {
  @apply
  z-10
  -mt-[7px]
  ml-[6px]
  h-[11px]
  w-fit
  min-w-fit
  lg:mt-0
  lg:h-[15px]
}


.threeC {
  @apply
  flex justify-end items-center flex-col
  min-w-fit
  -ml-[15px]
  lg:gap-y-10
  lg:mt-[150px]
  lg:-ml-[50px]
  xl:ml-0
}

.threeC img:first-of-type {
  @apply
  z-20
  h-[175px]
  lg:h-[322px]
  w-fit
  min-w-fit
}

.threeC img:nth-of-type(2) {
  @apply
  z-10
  -mt-[7px]
  -ml-[15px]
  h-[11px]
  w-fit
  min-w-fit
  lg:mt-0
  lg:h-[24px]
}

.threeD {
  @apply
  flex justify-end items-center flex-col
  min-w-fit
  -ml-[8px]
  lg:ml-0
  lg:gap-y-10
}

.threeD img:first-of-type {
  @apply
  z-20
  h-[202px]
  lg:h-[382px]
  w-fit
  min-w-fit
}

.threeD img:nth-of-type(2) {
  @apply
  z-10
  -mt-[7px]
  h-[11px]
  w-fit
  min-w-fit
  lg:mt-0
  lg:mr-8
  lg:h-[13px]
}

.threeA p:first-of-type,
.threeB p:first-of-type,
.threeC p:first-of-type,
.threeD p:first-of-type {
  @apply
  hidden
  lg:block
  whitespace-nowrap
}

.threeC p:first-of-type {
  @apply
  lg:mr-8
}

.threeD p:first-of-type {
  @apply
  lg:mr-8
}

.threeA p:nth-of-type(2),
.threeB p:nth-of-type(2),
.threeC p:nth-of-type(2),
.threeD p:nth-of-type(2) {
  @apply
  mt-8
  block
  lg:hidden
  whitespace-nowrap
}

.threeDetails {
  @apply
  px-6 lg:px-0
  font-applesd
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
  lg:hidden
}

/* four */
.fourSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.fourContainer {
  @apply w-full
  flex justify-start items-start flex-col
  lg:flex-row-reverse
  lg:justify-between
  lg:items-center
  gap-y-16
  lg:gap-y-0
  lg:gap-x-16
}

.fourImage {
  @apply
  w-full
  h-[300px]
  lg:h-[430px]
  xl:h-[530px]
  flex
  justify-center
  lg:justify-end

  items-center
}

.fourImage img {
  @apply
  h-[300px]
  lg:h-[430px]
  xl:h-[530px]
  min-w-fit
  w-fit
  overflow-x-visible
}


.fourDetails {
  @apply
  font-applesd
  flex justify-start flex-col
  gap-y-8
  lg:whitespace-nowrap
}

.fourDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}

.fourDetails p br {
  @apply hidden
  lg:block
}



/* five */
.fiveSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]

  /* border */
}

.fiveContainer {
  @apply w-full
  flex justify-start items-start flex-col
  lg:flex-row
  /* lg:justify-between */
  gap-y-16
  lg:gap-y-0
  lg:gap-x-16
  /* 2xl:gap-x-32
  3xl:gap-x-16 */
}

.fiveImage {
  @apply
  w-full
  /* lg:grow */
  lg:w-fit
  flex
  justify-end
  items-start
  sm:justify-center
  lg:justify-end
  /* 2xl:justify-center */
  3xl:justify-start
  h-[310px]
  lg:h-[510px]
  mr-8
  sm:mr-0
  /* border */
}

.fiveImage img {
  @apply
  min-w-fit
  w-fit
  h-[310px]
  lg:h-[510px]
}

.fiveDetailsContainer {
  @apply
  /* w-full */
  flex justify-start items-start flex-col
  lg:justify-end
  lg:mt-20
  /* border */
}

.fiveDetails {
  @apply font-applesd
  flex justify-start items-start flex-col
  gap-y-8
  lg:whitespace-nowrap
  w-fit
  /* border */
}

.fiveDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}

.fiveDetails p:first-of-type,
.fiveDetails p:nth-of-type(2) {
  @apply
  lg:hidden
  block
}

.fiveDetails p:last-of-type {
  @apply
  hidden
  lg:inline-block
}


/* six */
.sixSection {
  @apply
  mt-40
  mb-20
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.sixContainer {
  @apply
  w-full
  flex justify-start
  items-start flex-col
  lg:flex-row
  lg:justify-between
  lg:items-center

  gap-y-16
  lg:gap-y-0
  lg:gap-x-8
}

.sixDetails {
  @apply font-applesd
  flex justify-start items-start
  lg:whitespace-nowrap
  w-fit
  lg:mb-24
  /* border */
}

.sixDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}

.sixDetails p br{
  @apply
  hidden
  lg:block
}

.sixImage {
  @apply
  w-full
  lg:w-fit
  h-[500px]
  lg:h-[600px]
  flex justify-end
  items-center
  md:justify-center
  lg:justify-start
  /* 2xl:justify-end */
  /* border */
}

.sixImage img {
  @apply
  h-[500px]
  lg:h-[600px]
  min-w-fit
  w-fit
}


