.serviceCarousel {
  @apply ease-linear duration-200
  my-20
  lg:hidden
  max-w-screen-4xl mx-auto;
}

.splide__slide {
  @apply mb-20
  flex justify-center items-center
  cursor-pointer;
}

.splide__pagination__page {
  background: #242424 !important;
  opacity: 0.2;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  min-height: 10px;
  min-width: 10px;
  max-height: 10px;
  max-width: 10px;
  margin: 3px;
  padding: 0;
  position: relative;
  transition: background-color 0.2s linear, transform 0.2s linear;
}
.splide__pagination__page.is-active {
  background: #fa2b2b !important;
  opacity: 1;
  transform: scale(1.4);
  z-index: 1;
}
.splide__pagination__page:hover {
  background: #fa2b2b;
  cursor: pointer;
  opacity: 0.9;
}
.splide__pagination__page:focus-visible {
  outline: 3px solid #242424;
  outline-offset: 3px;
  border: 1px solid red;
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #242424;
  outline-offset: 3px;
}
