.main {
  @apply text-white
  bg-black
  h-full w-full
  border-0 border-transparent
}

.oneSection {
  @apply
  mt-40
  max-w-screen-4xl
  w-screen
  mx-auto
  px-0
  lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.oneContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-14
  lg:gap-y-0
}

.oneImage {
  @apply
  relative
  flex justify-center items-center
  w-full
  h-[645px]
  lg:hidden
}

.oneImage img {
  @apply
  h-[645px]
  w-full
  object-cover
  overflow-x-visible
}

.oneDetails {
  @apply
  px-6 lg:px-0
  flex justify-start items-start flex-row
  lg:gap-x-36
  3xl:gap-x-44
}

.oneDetails h3 {
  @apply text-2xl
  hidden lg:flex
  font-bold
  whitespace-nowrap
}

.oneDetails p {
  @apply
  text-left
  text-white opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}


/* two */
.twoSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
  /* border */
}

.twoContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-16
  lg:gap-y-0
}

.twoTitle {
  @apply
  hidden lg:block
}

.twoTitle h3 {
  @apply font-applesd
  font-bold
  text-[30px]
  lg:text-[32px]
}

.twoBottom {
  @apply w-full
  flex justify-between items-start
  flex-col
  gap-y-14 lg:gap-y-0
  lg:flex-row-reverse
  lg:items-center

  lg:gap-x-4
  3xl:gap-x-8
  /* border */
}

.twoImage {
  @apply
  w-full
  h-[570px]
  lg:h-[720px]
  flex
  justify-center
  lg:justify-end
  items-center
}

.twoImage img:first-of-type {
  @apply
  /* w-full */
  h-[570px]
  min-w-fit
  w-fit
  /* object-cover */
  overflow-x-visible
  lg:hidden
}

.twoImage img:nth-of-type(2) {
  @apply
  /* w-full */
  h-[720px]
  min-w-fit
  w-fit
  /* object-cover */
  overflow-x-visible
  hidden
  lg:flex
}


.twoDetails {
  @apply
  px-6 lg:px-0
  font-applesd
  flex justify-start flex-col
  gap-y-8
  lg:whitespace-nowrap
}

.twoDetails h4 {
  @apply
  text-[25px]
  lg:text-[28px] font-medium
}

.twoDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}

.twoDetails p br {
  @apply
  hidden
  lg:block
}

/* three */
.threeSection {
  @apply
  mt-40
  lg:mt-72
  w-screen


}

.threeContainer {
  @apply w-full
  flex justify-start
  items-center flex-col
  lg:flex-row
  gap-y-20
  lg:gap-y-0
}

.threeTopCircles {
  @apply
  h-[270px]
  lg:h-0
  w-full
  lg:hidden
  flex justify-center items-start
  gap-x-12
  sm:gap-x-16
  md:gap-x-20

  /* border */
}

.threeTopCircleDiv1 {
  @apply
  h-full
  flex
  justify-center
  items-center
}

.threeTopCircle1 {
  @apply
  flex justify-center items-center
  h-[142px] w-[142px]
  min-h-[142px] min-w-[142px]
  bg-[#8EBA24]
  rounded-full
}

.threeTopCircle1 p {
  @apply
  font-applesd
  font-bold
  tracking-wider
  text-[38px]
  mt-[8px]
}

.threeTopCircleDiv2 {
  @apply h-full
  flex
  justify-center
  items-end
}

.threeTopCircle2 {
  @apply
  flex justify-center items-center
  h-[95px] w-[95px]
  min-h-[95px] min-w-[95px]
  bg-[#D5AC05]
  rounded-full
}

.threeTopCircle2 p {
  @apply
  font-applesd
  font-bold
  tracking-wider
  text-[33px]
  mt-[6px]
}

.threeTopCircleDiv3 {
  @apply h-full
  flex
  justify-center
  items-start
}

.threeTopCircle3 {
  @apply
  flex justify-center items-center
  h-[218px] w-[218px]
  min-h-[218px] min-w-[218px]
  bg-[#2A9DCF]
  rounded-full
}

.threeTopCircle3 p {
  @apply
  font-applesd
  font-bold
  tracking-wider
  text-[76px]
  mt-[20px]
  /* leading-none */
}

.threeMiddle {
  @apply
  /* w-full */
  flex justify-start items-start flex-col
  lg:justify-between
  lg:items-end
  lg:flex-row
  gap-y-16
  lg:gap-y-0

  max-w-screen-4xl
  w-screen
  mx-auto
  pl-6 lg:pl-14
  xl:pl-36
  2xl:pl-[280px]
  3xl:pl-[400px]
}

.threeImage {
  @apply
  w-full
  flex justify-center items-center
  h-[570px]
  lg:h-[960px]
  /* border */
}

.threeImage img {
  @apply
  h-[570px]
  lg:h-[960px]
  min-w-fit
  w-fit
}

.threeDetails {
  @apply
  font-applesd
  flex justify-start flex-col
  gap-y-8
  lg:whitespace-nowrap
}

.threeDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}

.threeDetails p br {
  @apply
  hidden
  lg:block
}

.threeBottomCircles {
  @apply
  hidden
  w-full
  lg:flex justify-center items-start
  lg:flex-col
  gap-x-12
  sm:gap-x-16
  md:gap-x-20
}

.threeBottomCircle1 {
  @apply
  flex justify-center items-center
  h-[580px] w-[580px]
  min-h-[580px] min-w-[580px]
  bg-[#2A9DCF]
  rounded-full
}

.threeBottomCircle1 p {
  @apply
  font-applesd
  font-bold
  tracking-wider
  text-[200px]
  mt-[40px]
}

.threeBottomCircle2 {
  @apply
  flex justify-center items-center
  h-[294px] w-[294px]
  min-h-[294px] min-w-[294px]
  bg-[#D5AC05]
  rounded-full
}

.threeBottomCircle2 p {
  @apply
  font-applesd
  font-bold
  tracking-wider
  text-[100px]
  mt-[40px]
}

.threeBottomCircle3 {
  @apply
  flex justify-center items-center
  h-[294px] w-[294px]
  min-h-[294px] min-w-[294px]
  bg-[#A1304C]
  rounded-full
}

.threeBottomCircle3 p {
  @apply
  font-applesd
  font-bold
  tracking-wider
  text-[100px]
  mt-[30px]
}

.threeBottomCircle4 {
  @apply
  flex justify-center items-center
  h-[378px] w-[378px]
  min-h-[378px] min-w-[378px]
  bg-[#8EBA24]
  rounded-full
}

.threeBottomCircle4 p {
  @apply
  font-applesd
  font-bold
  tracking-wider
  text-[100px]
  mt-[40px]
}