.main {
  @apply
  text-white
  bg-black
  h-full w-full
  border-0 border-transparent
}

.oneSection {
  @apply
  mt-12
  lg:mt-2
  max-w-screen-4xl
  w-screen
  mx-auto
  px-0

}

.oneContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-14
  lg:gap-y-24
}

.oneImage {
  @apply
  relative
  flex justify-center items-center
  w-full
  pl-16
  md:pl-0
  h-[840px]
  3xl:h-[1100px]
  /* border */
}

.oneImage img {
  @apply
  h-[840px]
  3xl:h-[1100px]
  w-fit
  lg:w-full
  object-cover
  overflow-x-visible
}

.oneImage p {
  @apply absolute
  bottom-[28px]
  left-[24px]
  lg:left-[56px]
  lg:bottom-[450px]
  3xl:bottom-[500px]
  font-bold
  font-applesd
  text-xl
}

.oneDetails {
  @apply
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]

  flex justify-start items-start flex-row
  lg:gap-x-36
  3xl:gap-x-44
}

.oneDetails h3 {
  @apply text-2xl
  hidden lg:flex
  font-bold
}

.oneDetails p {
  @apply
  text-left
  text-white opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}


/* two */
.twoSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-0 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]

  /* hidden
  lg:block */
}

.twoContainer {
  @apply w-full
  flex justify-start items-start flex-col
  gap-y-16
}

.twoTitle {
  @apply
  px-6 lg:px-0
}

.twoTitle h3 {
  @apply font-applesd font-bold
  text-[30px]
  lg:text-[32px]
}

.twoBottom {
  @apply w-full
  flex justify-between items-start
  lg:items-end
  flex-col
  gap-y-8 lg:gap-y-0
  lg:flex-row-reverse

  lg:gap-x-4
  3xl:gap-x-8
  /* border */
}

.twoImage {
  @apply
  w-full
  h-[760px]
  lg:h-[820px]
  /* ml-6 */
  flex
  justify-start
  md:justify-center
  lg:justify-end
  items-center
  /* lg:justify-start */
  /* 3xl:grow */
  /* border */
}

.twoImage img {
  @apply
  /* w-full */
  h-[760px]
  lg:h-[820px]
  min-w-fit
  w-fit
  /* object-cover */
  overflow-x-visible
  /* border */
}


.twoDetails {
  @apply
  px-6 lg:px-0
  font-applesd
  flex justify-start flex-col
  gap-y-8
  whitespace-nowrap
  lg:mb-52

}

.twoDetails h4 {
  @apply
  text-[25px]
  lg:text-[28px] font-medium
}

.twoDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}


/* three */
.threeSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.threeContainer {
  @apply w-full
  flex justify-start items-start flex-col
  lg:flex-row
  lg:justify-between
  lg:items-center
  gap-y-16
  lg:gap-y-0
  lg:gap-x-16
}

.threeImage {
  @apply
  w-full
  h-[740px]
  lg:h-[840px]
  flex
  justify-center
  lg:justify-start
  items-center
}

.threeImage img {
  @apply
  h-[740px]
  lg:h-[840px]
  min-w-fit
  w-fit
  overflow-x-visible
}


.threeDetails {
  @apply
  font-applesd
  flex justify-start flex-col
  gap-y-8
  whitespace-nowrap
}

.threeDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}

.threeDetails p br {
  @apply hidden
  lg:block
}



/* four */
.fourSection {
  @apply
  mt-40
  lg:mt-72
  max-w-screen-4xl
  w-screen
  mx-auto
  px-6 lg:px-14
  xl:px-36
  2xl:px-[280px]
  3xl:px-[400px]
}

.fourContainer {
  @apply w-full
  flex justify-start items-start flex-col
  lg:flex-row-reverse
  lg:justify-between
  lg:items-center
  gap-y-16
  lg:gap-y-0
  lg:gap-x-16
}

.fourImage {
  @apply
  w-full
  h-[580px]
  lg:h-[940px]
  flex
  justify-center
  lg:justify-end
  items-center
}

.fourImage img {
  @apply
  h-[580px]
  lg:h-[840px]
  min-w-fit
  w-fit
  overflow-x-visible
}


.fourDetails {
  @apply
  font-applesd
  flex justify-start
  lg:whitespace-nowrap
}

.fourDetails p {
  @apply
  opacity-60
  text-lg
  lg:text-xl
  lg:leading-loose
  leading-10
  lg:opacity-100
}

.fourDetails p br {
  @apply hidden
  lg:block
}